.custom-next-select div[data-slot="value"] {
  color: #000 !important;
  font-size: 16px !important;
}

/* Target placeholder specifically */
.custom-next-select div[data-slot="value"][data-placeholder="true"] {
  color: #808080 !important;
}
div[role="dialog"][data-slot="base"] {
  background-color: transparent !important;
}

div[role="dialog"][data-slot="base"]::before {
  display: none !important;
  background: none !important;
  box-shadow: none !important;
  content: none !important;
}
